.products_root {
  min-height: 80vh;
  padding: var(--app-padding);
  padding-top: 2%;
}

.products_section {
  margin: 13px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
