.app_base {
  height: 100%;
  position: fixed;
  width: 100%;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 1);
  z-index: 1;
  padding: 0 0 5px 0;
}

.app_nav {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.app_nav div {
  padding: 10px 7px;
}

.nav_item p {
  color: var(--sub-text);
  text-align: center;
  font-size: 13px;
}

.nav_item svg {
  height: 29px;
  width: 29px;
  margin: 0 12px 0 12px;
}

.active p {
  color: var(--primary);
  font-weight: bold;
}
