body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home-txt {
  color: #000;
}

.active {
  border-top: 2px solid var(--primary);
}

/* search component */
.search-box {
  margin: 10px 0 0 0;
}

.search-box svg {
  position: absolute;
  margin-left: -25px;
  margin-top: 11px;
}

.form-control {
  width: 100%;
  height: 40px;
  background: var(--input-neutral);
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 0 10px;
}

.form-control::placeholder {
  color: rgba(111, 121, 139, 1);
  font-size: 14px;
}

.form-control:focus {
  border: 2px solid var(--primary);
}

/* banner component starts here */
.root-banner {
  margin: 17px 0 0 0;
  height: 142px;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
}

.banner-img {
  height: 139px;
  width: 100%;
  background-image: url("/img/home-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 55px 22px;
}

.banner-text {
  font-size: 13px;
  font-weight: bold;
  width: 158px;
  height: 38px;
  color: var(--bg-primary);
}

.orange-txt {
  color: var(--orange-main);
}

.blue-banner {
  width: 350px;
  height: 139px;
  border-radius: 4px;
  background: var(--primary);
  flex-grow: 1;
}

.orange-banner {
  width: 100%;
  height: 139px;
  border-radius: 4px;
  background: var(--orange-main);
}

.btn {
  outline: none;
  border: none;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary-cart {
  height: 45px;
}

.btn-primary-banner {
  height: 31px;
  width: 91px;
  background: var(--primary);
  color: var(--bg-primary);
}

.btn-primary-product {
  width: 50%;
  height: 55px;
  background: var(--primary);
  color: var(--bg-primary);
}

.btn-outline-product {
  width: 50%;
  height: 55px;
  background: none;
  color: var(--main-text);
  border: 2px solid var(--outline);
  margin: 0 0 0 26px;
}

/* product component style */
.prod-card {
  width: 108px;
  height: 100%;
  padding: 0 0 12px 0;
}

.prod-card img {
  border-radius: 4px;
}

.product-name {
  color: var(--sub-text);
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0;
}

.product-price {
  color: var(--main-text);
  font-weight: 700;
  font-size: 14px;
  padding: 6px 0;
}

.product-qty {
  color: #56636d;
  font-size: 10px;
}

/* cart header component style */
.cart-title p {
  margin-top: -1%;
  margin-left: -16%;
  text-align: center;
}
